In [30]:
import sqlite3 as lite
import sys
con = lite.connect('test.db')
cur = con.cursor()
cur.executescript("""
        DROP TABLE IF EXISTS Cars;
            CREATE TABLE Cars(Id INT, Name TEXT,Price INT);
            INSERT INTO cars VALUES(8,'audi',343343)
""")
con.commit()
if con:
    con.close()

OperationalError: database is locked

In [31]:
#con = lite.connect('test.db')
print("success")
with con:
    cur = con.cursor()
    cur.execute("SELECT * FROM Cars")
    rows = cur.fetchall
    for row in rows:
        print(row)

success

TypeError: 'builtin_function_or_method' object is not iterable

In [32]:
 con.close()